$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$moderateCyan: hsl(170, 45%, 43%);
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);



//font sized

// fonts-size statt dessen mit html{ font-size: 90%; oder so ändern}

$small: 0.75rem;   // mobile 14px
$medium: 1rem;     // desktop 16px
// h1 mobile
// h1 desktop
// h2 mobile
// h2 desktop


// font sizes aus files in eine klasse packen 