$paleBlue: hsl(243, 100%, 93%);
$grayishBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$veryDarkBlue: hsl(229, 57%, 11%);

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif;        //400 700
    font-size: 14px;
    background: url("../images/bg-desktop.png");
    width: 100vw;
    height: 100vh;
    background-color: $veryDarkBlue;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .navigation{
        display: flex;
        flex-direction: column;
        background-color: $darkBlue;
        width: 20rem;
        height: 12rem;
        border-radius:  1rem 6rem 1rem 1rem;
        justify-content: space-evenly;
        .logo{
            width: fit-content;
            margin: 0.5rem 0 0 2em;
        }
        .links{
            margin: 0 2em;
            
            .symbol-link{
                background-color: $veryDarkBlue;
                height: 1.2rem;
                padding: 0.9rem;
                margin: 0.3rem;
                border-radius: 0.5rem;
            }
        }
    }
    .process{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 1rem;
        background-color: $darkBlue;
        min-width: 20rem;
        height: 10em;
        border-radius: 1rem;
        color: $paleBlue;
        font-weight: 300;

        .big-text{
            font-weight: 700;
        }
        label{
            margin-top: 2em;
            margin-bottom: 1em;
        }
        #storage {
            width: 80%;
            -webkit-appearance: none;
            appearance: none;
            border: none;
            background-color: lighten($color: $veryDarkBlue, $amount: 9);
            border-radius: 1rem;
            &::-webkit-progress-bar {   //back
                background-color: lighten($color: $veryDarkBlue, $amount: 20);
                border-radius: 1rem;
            }
            &::-webkit-progress-value { // front
                background: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
                border-radius: 1rem;
            }
            &::-moz-progress-bar {
                background: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
                border-radius: 1rem;
            }
        }
        .space-text{
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            font-size: 0.8em;
            color: $paleBlue;
            p{
                margin-top: 1em;
                &.max-cap{
                    justify-self: end;
                }
            }
        }
        .popup{
            display: flex;
            position: relative;
            justify-content: center;
            width: 50%;
            bottom: -0.6rem;
            border-radius: 0.5rem;
            padding: 1rem 0.5rem;
            background: white;
            color: $grayishBlue;
            font-weight: 700;
            span{
                font-size: 2em;
                color: $veryDarkBlue;
            };
        }
    }
}


@media screen and (min-width:900px){
    body{
        flex-direction: row;
        background-size: 100% 50%;
        .process{
            margin-left: 1rem;
            margin-top: 3.4rem;
            width: 40%;
            label{
                align-self:flex-start;
                margin-left: 10%;
            }
            .popup{
                position: relative;
                width: 10rem;
                left: 24%;
                bottom: 100%;
                border-bottom-right-radius: 0;
                .pointer{
                    position:absolute;
                    width: 0;
                    height: 0;
                    border-left: 1.5rem solid transparent;
                    border-right: 0 solid transparent;
                    border-top: 1.5rem solid white;
                    right: 0;
                    top: 98%;
                }
            }
        }

        // chrome browser puts a div "colorBlindSVG" in the right which pushes the content to the left
        #colorBlindSVG{
            position:absolute;
        }
    }
}